<div class="p-4">
  <div class="flex flex-row w-full justify-end">
    <!-- TIMEFRAME FILTER OPTIONS -->
    <div>
      <mat-form-field appearance="outline">
        <mat-select class="!w-100" [(ngModel)]="selectedOption" (selectionChange)="onOptionSelected()">
          <mat-option *ngFor="let option of availableOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- SURPLUS & BALANCE LINE CHART -->
  <app-total-surplus-line-chart class="w-full" [chartData]="surplusChartData"></app-total-surplus-line-chart>
  <!-- ALL TIME BALANCE -->
  <h3 class="font-bold flex flex-row items-center gap-2">
    <span>Balance: </span>
    <span [ngClass]="getBalanceClass()" class="flex flex-row items-center rounded-full text-neutral-950 text-base px-5 py-[5px]">
        {{ parseLocaleStringToNumber(calculateTotalSurplusAllTimeFiltered()) | currency: currencyService.getSelectedCurrency() }}
    </span>
  </h3>

  <mat-divider class="!my-12" [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>
  <!-- REPORTING/INSIGHTS SECTION -->
  <section class="mb-3">
    <div class="flex flex-col items-center">
      <!-- INCOME/EXPENSE RATIO CHART -->
      <div class="flex flex-col w-full justify-center items-center">
        <h2 class="text-2xl font-bold text-center mt-4">Income / Expense Ratio</h2>
        <app-income-expense-ratio-chart class="w-full" [totalExpense]="totalExpenses" [totalIncome]="totalNetIncome"></app-income-expense-ratio-chart>
      </div>

      <mat-divider class="!my-10 w-full" [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>

      <!-- TREEMAP CHART -->
      <div class="flex flex-col w-full justify-center items-center">
        <h2 class="text-2xl font-bold text-center mt-4">Net Income Distribution</h2>
        <app-treemap-chart class="w-[80%]" [treeData]="treeMapData" [totalNetIncome]="totalNetIncome" [actionsPosition]="'top'"></app-treemap-chart>
      </div>
      
      <mat-divider class="!my-12" [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>
    </div>
  </section>

  <!-- ACTION BUTTONS -->
  <div class="flex flex-row w-full justify-between px-6 pb-2">

    <div class="flex flex-row gap-4 items-center flex-wrap">
      <div class="flex flex-row items-center">
        <button class="!flex flex-row items-center" mat-icon-button [matMenuTriggerFor]="settingsMenu">
          <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
        </button>
        <span [matMenuTriggerFor]="settingsMenu" class="cursor-pointer">Display Settings</span>
      </div>
    
      <mat-menu #settingsMenu="matMenu">
        <div class="flex flex-col gap-2 px-4 py-2">
          <!-- FORMAT NUMBERS -->
          <div class="flex flex-row gap-2 justify-between items-center" (click)="$event.stopPropagation()">
            <div class="flex flex-row items-center">
              <mat-slide-toggle color="primary" (toggleChange)="toggleFormatBigNumbers()" [(ngModel)]="isFormatBigNumbers"></mat-slide-toggle>
              <span class="ml-2">Format Numbers</span>
            </div>
            <button mat-icon-button [matTooltipPosition]="'above'" matTooltip="Format numbers as 'K', 'M', 'B' (Thousands, Millions, Billions). Minimum value: 10K">
              <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
            </button>
          </div>
    
          <!-- SCALE BAR CHART -->
          <div class="flex flex-row gap-2 justify-between items-center" (click)="$event.stopPropagation()">
            <div class="flex flex-row items-center">
              <mat-slide-toggle color="primary" (toggleChange)="toggleScaleBarChart()" [(ngModel)]="isBarChartScaled"></mat-slide-toggle>
              <span class="ml-2">Scale Bar Chart</span>
            </div>
            <button mat-icon-button matTooltip="Scale all bars on the same axis for visual comparison.">
              <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
            </button>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>


  <mat-accordion multi>
    <ng-container *ngFor="let year of storedYears">
      <ng-container *ngIf="filteredMonthsByYear[year] && filteredMonthsByYear[year].length > 0">
        <mat-expansion-panel 
          #yearPanel 
          class="no-shadows round-borders"
          [ngClass]="{
            'panel-dark': colorService.isDarkMode(),
            'panel-light': !colorService.isDarkMode(),
          }"
          togglePosition="before" 
          [expanded]="year === selectedYear">
          
          <mat-expansion-panel-header class="header-light">
            <mat-panel-title class="text-xl">
              {{ year }}
            </mat-panel-title>
            <mat-panel-description>
              <strong>Total Surplus: </strong>&nbsp;{{ calculateTotalSurplusOfYear(year) }}
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <!-- Child panel logic continues here -->
          <mat-accordion multi>
            <mat-expansion-panel 
              class="no-shadows round-borders"
              togglePosition="before"
              [ngClass]="{
                'highlight-light': (j % 2 === 0 || panel.expanded) && !colorService.isDarkMode(),
                'highlight-dark': (j % 2 === 0 || panel.expanded) && colorService.isDarkMode(),
                'panel-dark': j % 2 !== 0 && colorService.isDarkMode(),
                'panel-light': j % 2 !== 0 && !colorService.isDarkMode(),
              }" 
              *ngFor="let month of filteredMonthsByYear[year]; let j = index"
              #panel="matExpansionPanel">
              
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ month }}
                </mat-panel-title>
                <mat-panel-description class="flex flex-row gap-6">
                  <p><strong>Surplus:</strong> {{ getFormattedRemainingBalance(month) }}</p>
                </mat-panel-description>
                <!-- <button mat-icon-button (click)="$event.stopPropagation(); removeItem(month)">
                  <mat-icon fontSet="material-symbols-outlined" color="warn">delete</mat-icon>
                </button> -->
              </mat-expansion-panel-header>
              <div class="flex flex-row pb-4">
                <button mat-stroked-button (click)="getMonthsDetails(month)">
                  Details
                </button>
              </div>
              <div class="flex flex-row w-full justify-between">
                @if (panel.expanded) {
                  <!-- TOTAL INCOME/TOTAL EXPENSE CHART -->
                  <div class="w-full self-center">
                    <app-income-expense-ratio-chart [gridLeft]="'2%'" [gridRight]="'5%'" [totalIncome]="localStorageData[month].totalUsableIncome" [totalExpense]="localStorageData[month].totalExpenses"
                    ></app-income-expense-ratio-chart>
                  </div>

                  <!-- MONTHLY DETAILS -->
                  <div class="flex flex-row w-[30%] min-w-32 pr-[1.5vw] justify-end">
                    <ul class="flex flex-col items-end">
                      @for (input of getMonthDisplayInfos(month); track $index) {
                        <li>
                          <p>  <!-- Only display items with no source -->
                            {{ input.name }}: 
                            <span [ngClass]="{
                              'income-light': input.type === entryTypeEnums.Income && !colorService.isDarkMode(),
                              'income-dark': input.type === entryTypeEnums.Income && colorService.isDarkMode(),
                              'expense-light': (input.type === entryTypeEnums.Tax || input.type === entryTypeEnums.Expense) && !colorService.isDarkMode(),
                              'expense-dark': (input.type === entryTypeEnums.Tax || input.type === entryTypeEnums.Expense) && colorService.isDarkMode()
                            }">
                              {{ isFormatBigNumbers ? formatBigNumbersTemplate(input.value) : input.value | currency: currencyService.getSelectedCurrency() }}
                            </span>
                          </p>
                        </li>
                      }
                    </ul>
                  </div>
                }

              </div>    
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </mat-accordion>
</div>
