<div>
    <mat-accordion multi>
      <!-- PARENT PANEL (YEARS) -->
      <mat-expansion-panel 
        #yearPanel 
        class="no-shadows round-borders"
        [ngClass]="{
          'panel-dark': colorService.isDarkMode(),
          'panel-light': !colorService.isDarkMode(),
        }"
        togglePosition="before" 
        [expanded]="year === selectedYear"
        *ngFor="let year of storedYears; let i = index" >
        
        <mat-expansion-panel-header class="header-light">
          <mat-panel-title class="text-xl">
            {{ year }}
          </mat-panel-title>
          <mat-panel-description>
            <strong>Total Balance:</strong>&nbsp;{{ calculateTotalSurplus(year).toLocaleString() }}
          </mat-panel-description>
        </mat-expansion-panel-header>
  

        <!-- CHILD PANEL (MONTHS) -->
        <mat-accordion multi>
          <mat-expansion-panel 
            class="no-shadows round-borders"
            togglePosition="before"
            [ngClass]="{
              'highlight-light': (j % 2 === 0 || panel.expanded) && !colorService.isDarkMode(),
              'highlight-dark': (j % 2 === 0 || panel.expanded) && colorService.isDarkMode(),
              'panel-dark': j % 2 !== 0 && colorService.isDarkMode(),
              'panel-light': j % 2 !== 0 && !colorService.isDarkMode(),
            }" 
            *ngFor="let month of getStoredMonths()[year]; let j = index"
            #panel="matExpansionPanel"
            >
            
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ month }}
              </mat-panel-title>
              <mat-panel-description>
                <p><strong>Surplus:</strong> {{ localStorageData[month].remainingBalance }}</p>
              </mat-panel-description>
              <button mat-icon-button (click)="$event.stopPropagation(); removeItem(month)">
                <mat-icon fontSet="material-symbols-outlined" color="warn">delete</mat-icon>
              </button>
            </mat-expansion-panel-header>
  
            <div>
              <ul>
                <li *ngFor="let node of localStorageData[month].sankeyData.nodes">
                  <p>{{ node.name }}: {{ node.value.toLocaleString() }}</p>
                </li>
              </ul>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </div>