<h2 mat-dialog-title class="!font-bold text-xl">
    Insert Into
  </h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <div class="flex flex-row w-full items-center justify-center gap-4">

          <!-- Regular value input -->
          <mat-form-field class="w-full">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" placeholder="Enter value" (keypress)="validateKeyPress($event)" (blur)="updateInput()" (keydown.enter)="updateInput()" (paste)="validatePaste($event)">
          </mat-form-field>
        </div>
    </form>


    <!-- Description -->
    <div class="mb-4">
      <p>
        Modify the amount of your existing entries. If your expenses, e.g., Shopping, Groceries, change frequently, you can insert them here.
        Examples:
      </p>
      <ul class="leading-loose">
        <li><strong>Single Value:</strong>&nbsp;<span [ngClass]="colorService.isDarkMode() ? 'bg-gray-dark' : 'bg-gray'">20</span> or <span [ngClass]="colorService.isDarkMode() ? 'bg-gray-dark' : 'bg-gray'">-30</span></li>
        <li><strong>Multiple Values:</strong>&nbsp;<span [ngClass]="colorService.isDarkMode() ? 'bg-gray-dark' : 'bg-gray'">20 + 30 - 10</span></li>
      </ul>
      <p class="!mt-4">Letters and special characters are not allowed.</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" [disabled]="!form.valid" (click)="submitForm()">Ok</button>
  </mat-dialog-actions>
  