.bg-gray {
    background-color: #e0e0e0; /* Light gray background */
    padding: 2px 4px; /* Optional: Add some padding for better appearance */
    border-radius: 3px; /* Optional: Add rounded corners */
}

.bg-gray-dark {
    background-color: #4f4f4f; /* Dark gray background */
    padding: 2px 4px; /* Optional: Add some padding for better appearance */
    border-radius: 3px; /* Optional: Add rounded corners */
}