<div class="flex flex-col gap-8">
    <app-sankey-chart
        [sankeyData]="chartData.sankeyData"
        [remainingBalance]="chartData.remainingBalance"
        [chartHeight]="'450px'"
    ></app-sankey-chart>
    <mat-divider [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>

    <!-- NETTO CHART -->
    <section>
        <div class="flex flex-row w-full items-center justify-end gap-2">
            <button mat-button class="flex flex-row items-center" (click)="viewTreeMap = !viewTreeMap">
                <mat-icon>{{ viewTreeMap ? 'pie_chart' : 'map' }}</mat-icon>
                <span>{{ viewTreeMap ? 'View Pie Chart' : 'View Tree Map' }}</span>
            </button>
        </div>


        <app-pie-chart [showPieChart]="!viewTreeMap" [pieChartData]="pieChartDataNetto" [chartTitle]="'Net Income Distribution'"
            [totalIncome]="totalNetIncome" [totalExpenses]="totalExpenses"
        ></app-pie-chart>
        @if (viewTreeMap) {
            <section>
                <div class="flex flex-row w-full justify-center">
                    <app-treemap-chart class="w-[80%]" [treeData]="treeMapData" [totalExpenses]="totalExpenses" [totalNetIncome]="totalNetIncome"></app-treemap-chart>
                </div>
            </section>
        }
    </section>

    @if (showGrossIncomePieChart) {
        <mat-divider [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>
        <!-- BRUTTO CHART -->
        <app-pie-chart [pieChartData]="pieChartDataBrutto" [chartTitle]="'Total Income Distribution'" [chartDescription]="'(The whole pie represents your total gross income)'"
            [totalIncome]="totalGrossIncome"
            [chartHeight]="'400px'"
        ></app-pie-chart>
    }
</div>