.dark-text {
    color: rgb(176, 198, 250) !important;
}

.light-text {
    color: rgb(38, 91, 181) !important;
}

.app-menu.mat-mdc-menu-panel {
    max-width: none !important;
    width: 16rem !important;
}