<!-- Navbar -->
<div class="flex flex-row w-full p-3 gap-2 sticky top-0 z-50" [ngClass]="colorService.isDarkMode() ? 'bg-neutral-800' : 'bg-blue-50' ">
    <!-- input list menu -->

    <!-- LEFTHAND SIDE BUTTONS -->
    @if (showBackButton) {
        <div>
            <a mat-button routerLink="/" class="flex flex-row justify-center items-center gap-2">
                <mat-icon>arrow_back</mat-icon>
                <span>Back</span>
            </a>
        </div>
    }
    
    @if (showLogo) {
        <div class="flex flex-row w-full items-center gap-2 pl-4">
            <span class="material-symbols-outlined" [ngClass]="colorService.isDarkMode() ? 'dark-text' : 'light-text'">
                polyline
            </span>
            <h1 class="font-bold text-lg" [ngClass]="colorService.isDarkMode() ? 'dark-text' : 'light-text'">
                Easy Sankey
            </h1>
        </div>
    }

    <div class="flex flex-row w-full justify-center">
        <ng-content></ng-content>
    </div>
    
    <!-- RIGHTHAND SIDE BUTTONS -->
    <div class="flex flex-row w-full items-center justify-end">

        @if (showAddInput) {
            <div>
                <button mat-button (click)="dataService.openInputListDialog()">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Add input</span>
                    </div>
                </button>
            </div>
        }
        


        <mat-menu #settingsMenu="matMenu" [class]="'app-menu'">
            <button mat-menu-item (click)="dataService.openSettingsDialog()">
              <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
              <span>Settings</span>
            </button>
            @if (showOpenDocs) {
                <a mat-menu-item routerLink="/docs" class="flex flex-row justify-center items-center gap-2">
                    <mat-icon>help_outline</mat-icon>
                    <span>Help</span>
                </a>
            }

            @if (showUpdates) {
                <a mat-menu-item routerLink="/updates" class="flex flex-row justify-center items-center gap-2">
                    <mat-icon fontSet="material-symbols-outlined">lightbulb</mat-icon>
                    <span>View features</span>
                </a>
            }
        </mat-menu>
          
        <div class="pr-4 flex flex-row items-center">
            <button mat-icon-button class="!flex flex-row !items-center" [matMenuTriggerFor]="settingsMenu" aria-label="More options">
                <mat-icon fontSet="material-symbols-outlined">more_vert</mat-icon> <!-- Icon to open the menu -->
            </button>
        </div>
        
    </div>    
</div>