<!-- Navbar -->
<div class="flex flex-row w-full p-3 gap-2 bg-blue-50 sticky top-0 z-[100]">
    <!-- input list menu -->

    @if (showBackButton) {
        <div>
            <a mat-button routerLink="/" class="flex flex-row justify-center items-center gap-2">
                <mat-icon>arrow_back</mat-icon>
                <span>Back</span>
            </a>
        </div>
    }

    <div class="flex flex-row w-full justify-end">
        @if (showAddInput) {
            <div>
                <button mat-button [matMenuTriggerFor]="menu" [matMenuTriggerRestoreFocus]="false">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Add input</span>
                    </div>
                    
                </button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <app-input-list></app-input-list>
                </mat-menu>
            </div>
        }
        
        @if (showOpenDocs) {
            <div>
                <a mat-button routerLink="/docs" class="flex flex-row justify-center items-center gap-2">
                    <mat-icon>help_outline</mat-icon>
                    <span>Open docs</span>
                </a>
            </div>
        }
        
    </div>    
</div>