<!-- Navbar -->
<div class="flex flex-row w-full p-3 gap-2 items-center sticky top-0 z-50" [ngClass]="colorService.isDarkMode() ? 'bg-neutral-800' : 'bg-blue-50' ">
    <!-- input list menu -->

    <!-- LEFTHAND SIDE BUTTONS -->
    @if (showBackButton) {
        <div class="z-50">
            <a mat-button (click)="navigateBack()" class="flex flex-row justify-center items-center gap-2">
                <mat-icon>arrow_back</mat-icon>
                <span>{{ backLabel }}</span>
            </a>
        </div>
    }
    
    @if (showLogo) {
        <div class="flex flex-row w-full items-center gap-2 pl-4">
            <h1 class="font-bold text-lg" [ngClass]="colorService.isDarkMode() ? 'text-darkmode-blue' : 'text-lightmode-blue'">
                Easy Sankey
            </h1>
        </div>
    }

    <div class="flex flex-row w-full justify-center items-center fixed">
        <ng-content></ng-content>
    </div>
    
    <!-- RIGHTHAND SIDE BUTTONS -->
    <div class="flex flex-row w-full items-center justify-end">

        @if (showAddInput) {
            <div class="z-50">
                <button mat-button (click)="dialogService.openInputListDialog()">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <mat-icon fontset="material-symbols-outlined">edit_note</mat-icon>
                        <span>Edit input</span>
                    </div>
                </button>
            </div>
        }
        


        <!-- Main Menu: settingsMenu -->
        <mat-menu #settingsMenu="matMenu" class="app-menu">
            <!-- Finance Manager link -->
            @if (showStorage) {
                <a mat-menu-item [routerLink]="RoutePath.FinanceManagerPage" [routerLinkActive]="colorService.isDarkMode() ? 'active-link-dark' : 'active-link-light'" class="flex flex-row justify-center items-center gap-2">
                    <mat-icon fontSet="material-symbols-outlined">monitoring</mat-icon>
                    <span>Finance Manager</span>
                </a>
            }


            <a mat-menu-item [routerLink]="RoutePath.SmartBudgeterPage" [routerLinkActive]="colorService.isDarkMode() ? 'active-link-dark' : 'active-link-light'"  class="flex flex-row justify-center items-center gap-2">
                <mat-icon fontSet="material-symbols-outlined">calculate</mat-icon>
                <span>Smart Budget Planner</span>
            </a>


        
            <!-- Settings link -->
            <button mat-menu-item (click)="dialogService.openSettingsDialog()" class="flex flex-row justify-center items-center gap-2">
                <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
                <span>Settings</span>
            </button>
        
            <!-- Help and Features trigger button for nested menu -->
            <button mat-menu-item [matMenuTriggerFor]="helpAndFeatures" class="flex flex-row justify-center items-center gap-2 z-50">
                <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
                <span>More Options</span>
            </button>
        </mat-menu>
    
        <!-- Nested Menu inside More Options -->
        <mat-menu #helpAndFeatures="matMenu" class="app-menu">
    
            <!-- Help link -->
            @if(showOpenDocs) {
                <a mat-menu-item [routerLink]="RoutePath.Docs" [routerLinkActive]="colorService.isDarkMode() ? 'active-link-dark' : 'active-link-light'" class="flex flex-row justify-center items-center gap-2">
                    <mat-icon fontSet="material-symbols-outlined">help</mat-icon>
                    <span>How to use?</span>
                </a>
            }


            <!-- View Features link -->
            @if (showUpdates) {
                <a mat-menu-item [routerLink]="RoutePath.WhatsNewPage" [routerLinkActive]="colorService.isDarkMode() ? 'active-link-dark' : 'active-link-light'" class="flex flex-row justify-center items-center gap-2"> 
                    <mat-icon fontSet="material-symbols-outlined">new_releases</mat-icon>
                    <span>What's New</span>
                </a>
            }

            @if (showHighlights) {
                <a mat-menu-item [routerLink]="RoutePath.HighlightedFeaturesPage" [routerLinkActive]="colorService.isDarkMode() ? 'active-link-dark' : 'active-link-light'" class="flex flex-row justify-center items-center gap-2">
                    <mat-icon fontSet="material-symbols-outlined">kid_star</mat-icon>
                    <span>View Features</span>
                </a>
            }
        
        </mat-menu>
  
        <!-- Menu Trigger Button -->
        <div class="pr-4 flex flex-row items-center">
            <button mat-icon-button class="!flex flex-row !items-center" [matMenuTriggerFor]="settingsMenu" aria-label="More options">
                <mat-icon fontSet="material-symbols-outlined">more_vert</mat-icon>
            </button>
        </div>
        
    </div> 
</div>