<div class="flex flex-row justify-center items-center">
    <button mat-icon-button (click)="previousMonth()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  
    <button mat-button (click)="toggleCalendar()">
      <span class="px-4">
        {{ selectedDate() | date: 'MMM yyyy' }}
      </span>
    </button>
  
    <button mat-icon-button (click)="nextMonth()">
      <mat-icon>chevron_right</mat-icon>
    </button>
</div>
<div class="flex flex-row w-full justify-center">
    <mat-calendar class="w-80" *ngIf="calendarVisible()" startView="year"
        [selected]="selectedDate()"
        (monthSelected)="onMonthSelected($event)" 
        (yearSelected)="yearSelected($event)"
        [startAt]="selectedDate()"
        [headerComponent]="customHeaderComponent"
        >
    </mat-calendar>
</div>