// @use '@angular/material' as mat;

.mat-calendar-body-cell.highlighted {
    border-radius: 100px;
    vertical-align: top;
}

/* Add the dot for the highlighted months */
.mat-calendar-body-cell.highlighted::before {
    transform: translate(430%, 350%);
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    height: 8px;
    content: '';
    width: 8px;
    right: 50%;
    background: rgb(238 145 26); /* Light mode color */
}

/* Dark mode styling for the dot */
.mat-calendar-body-cell.highlighted.dark-mode::before {
    background: rgb(255, 165, 0); /* Dark mode color */
}