@if((!linkForm.valid && linkForm.touched) || hasDuplicates || hasInValidRows) {
  <div class="flex flex-row w-full justify-center">
    <div class="fixed top-6 z-[100]">
      <app-error-card [errorMessage]="errorMessage"></app-error-card>
    </div>
  </div>
}
<div [formGroup]="linkForm" class="link-form-container" #bottomContent id="bottom-content">

  <!-- INPUT LIST ACTIONS BAR CONTAINER -->
  <div class="grid w-full py-2 sticky z-50 top-0 material-background" style="grid-template-columns: 1fr 1fr 1fr;">

    <div class="flex flex-row items-center gap-2">

      <!-- COPY PASTE BUTTONS -->
      <button mat-stroked-button color="primary" [disabled]="dataService.hasDataCycle()" (click)="copyLinks()">Copy</button>
      <button mat-stroked-button (click)="pasteLinks()">Paste</button>
    </div>

    <!-- MONTH PICKER -->
    <div class="flex flex-row w-full justify-center items-center">
      <app-month-picker (monthSelected)="onMonthChanges($event)"></app-month-picker>
    </div>

    <!-- ACTIONS BUTTONS -->
    <div class="flex flex-row w-[25%] items-center justify-end gap-1 absolute right-0">
      <div class="flex flex-row w-full justify-center"> 
        <mat-form-field appearance="outline" floatLabel="always">
          <input #inputValue matInput (input)="filterLinks(inputValue.value)" placeholder="Search">
          <mat-icon matPrefix fontSet="material-symbols-outlined">search</mat-icon>
        </mat-form-field>
      </div>
      <!-- <div>Show categories</div>
      <div>
        <mat-slide-toggle color="primary" labelPosition="before"  disableRipple (change)="dataService.toggleAdvanced()" [checked]="dataService.isAdvancedShown"></mat-slide-toggle>
      </div> -->
    </div>
  </div>

  <!-- LINKS CONTAINER -->
  <div formArrayName="links">
    <mat-divider class="!mb-4" [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>
    <!-- FIX COSTS SECTION -->
    <div class="flex flex-row items-center w-full mb-2">
      <button mat-icon-button class="mr-2" (click)="isFixCostsExpanded = !isFixCostsExpanded">
        @if (isFixCostsExpanded) {
          <mat-icon fontSet="material-symbols-outlined">expand_less</mat-icon>
        } @else {
          <mat-icon fontSet="material-symbols-outlined">expand_more</mat-icon>
        }
      </button>
      <p class="font-bold text-2xl !m-0 flex flex-row w-full items-center cursor-pointer" (click)="isFixCostsExpanded = !isFixCostsExpanded">
        <span>Fix Costs</span>&nbsp;
        <span>
          ({{ fixCosts.length }})
        </span>
      </p>

      <!-- PASTE FIX COSTS BUTTON -->
      <div class="flex flex-row w-full gap-2 justify-end">
        <div>
          <button mat-button (click)="navigateToFixCosts()">
            <mat-icon fontSet="material-symbols-outlined">open_in_new</mat-icon>
            Edit Fix Costs
          </button>
        </div>
        <button 
            mat-stroked-button 
            (click)="pasteFixCosts()"
            [disabled]="fixedLinks.length == 0"
            class="ml-2"
          >  
            <!-- IF FIX COST ALREADY EXISTS, SHOW UPDATE INSTEAD OF PASTING -->
            @if (fixCosts.length > 0) {
              <div class="flex flex-row items-center gap-2">
                <mat-icon fontSet="material-symbols-outlined">update</mat-icon>
                <span>Update Fix Costs</span>
              </div>
            } @else {
              <div class="flex flex-row items-center gap-2">
                <mat-icon fontSet="material-symbols-outlined">content_paste</mat-icon>
                <span>{{ fixedLinks.length == 0 ? 'No Fix costs defined' : 'Paste Fix Costs'  }}</span>
              </div>
            }
          </button>
      </div>
    </div>

    <!-- FIX COST ARRAY -->
    <mat-card class="mb-4 material-background" [@expandCollapse]="isFixCostsExpanded ? 'expanded' : 'collapsed'">
      @if (isFixCostsExpanded) {
        <mat-card-content>
          <div>
            <div *ngFor="let linkGroup of linkArray.controls; let i = index" [formGroupName]="i" class="link-row">
              @if (linkGroup.get('isFixCost')?.value && filteredLinkIds.includes(linkGroup.get('id')?.value)) {
                <!-- Target -->
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="target" placeholder="Entry name" />
                  <mat-error *ngIf="linkGroup.get('target')?.hasError('restrictedNodeName')">
                    This name is not allowed.
                  </mat-error>
          
                  <mat-error *ngIf="linkGroup.get('target')?.hasError('cycle')">
                    This creates a cycle!
                  </mat-error>
          
                  <mat-error *ngIf="linkGroup.get('target')?.hasError('duplicatedName')">
                    Duplicated name.
                  </mat-error>
          
                  <mat-error *ngIf="linkGroup.get('target')?.hasError('emptyOrWhitespace')">
                    Name cannot be empty.
                  </mat-error>
                </mat-form-field>
                
                <!-- Type (Income, Expense, Tax) -->
                <mat-form-field appearance="fill">
                  <mat-select formControlName="type" placeholder="Type" (selectionChange)="checkTaxNodeExists()">
                    <mat-option *ngFor="let type of linkTypes" [disabled]="type == entryTypes.Tax && taxNodeExists " [value]="type">{{ type | titlecase }}</mat-option>
                  </mat-select>
                </mat-form-field>
          
                <!-- Value -->
                <mat-form-field appearance="fill">
                  <mat-label>Amount</mat-label>
                  <input matInput formControlName="value" type="number" placeholder="Value" (blur)="updateInput()" />
          
                  <mat-error *ngIf="linkGroup.get('value')?.hasError('min')">
                    Amount must be greater than or equal 0.
                  </mat-error>
                </mat-form-field>
                
                <!-- Select with search -->
                <mat-form-field appearance="fill" *ngIf="dataService.isAdvancedShown">
                  <mat-label>Category</mat-label>
                  <mat-select formControlName="source" [disableOptionCentering]="true" panelClass="custom-select-panel" (selectionChange)="updateInput()">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="sourceSearchControl" placeholderLabel="Search categories..." noEntriesFoundLabel="No entries found."></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let node of filteredNodes" [value]="node.value">
                      @if(node.icon) {
                        <mat-icon fontSet="material-symbols-outlined"
                          [ngStyle]="{'color': colorService.isDarkMode() ? node.colorDark : node.colorLight}"
                        >{{ node.icon }}</mat-icon>
                      }
                      {{ node.label }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="linkGroup.get('source')?.hasError('cycle')">
                    This creates a cycle!
                  </mat-error>
                </mat-form-field>
          
  
                <!-- Remove Button -->
                <button mat-icon-button color="warn" (click)="removeLink(i)">
                  <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                </button>
              }
            </div>
          </div>
        </mat-card-content>
      }
    </mat-card>

    <mat-divider class="!mb-4" [ngClass]="colorService.isDarkMode() ? '!border-gray-700' : '!border-gray-300'"></mat-divider>

    <!-- VARIABLE COSTS SECTION -->
    <div class="flex flex-row items-center w-full mb-2">
      <button mat-icon-button class="mr-2" (click)="isVariableCostsExpanded = !isVariableCostsExpanded">
        @if (isVariableCostsExpanded) {
          <mat-icon fontSet="material-symbols-outlined">expand_less</mat-icon>
        } @else {
          <mat-icon fontSet="material-symbols-outlined">expand_more</mat-icon>
        }
      </button>
      <p class="font-bold text-2xl !m-0 cursor-pointer" (click)="isVariableCostsExpanded = !isVariableCostsExpanded">Variable Costs</p>
    </div>

    <!-- VARIABLE COSTS ARRAY -->
    <mat-card class="mb-4 material-background" [@expandCollapse]="isVariableCostsExpanded ? 'expanded' : 'collapsed'">
      @if (isVariableCostsExpanded) {
        <mat-card-content>
          <div *ngFor="let linkGroup of linkArray.controls; let i = index" [formGroupName]="i" class="link-row">

            @if (!linkGroup.get('isFixCost')?.value && filteredLinkIds.includes(linkGroup.get('id')?.value)) {
              <!-- Target -->
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="target" placeholder="Entry name" />
                <mat-error *ngIf="linkGroup.get('target')?.hasError('restrictedNodeName')">
                  This name is not allowed.
                </mat-error>
        
                <mat-error *ngIf="linkGroup.get('target')?.hasError('cycle')">
                  This creates a cycle!
                </mat-error>
        
                <mat-error *ngIf="linkGroup.get('target')?.hasError('duplicatedName')">
                  Duplicated name.
                </mat-error>
        
                <mat-error *ngIf="linkGroup.get('target')?.hasError('emptyOrWhitespace')">
                  Name cannot be empty.
                </mat-error>
              </mat-form-field>
              
              <!-- Type (Income, Expense, Tax) -->
              <mat-form-field appearance="fill">
                <mat-select formControlName="type" placeholder="Type" (selectionChange)="checkTaxNodeExists()">
                  <mat-option *ngFor="let type of linkTypes" [disabled]="type == entryTypes.Tax && taxNodeExists " [value]="type">{{ type | titlecase }}</mat-option>
                </mat-select>
              </mat-form-field>
        
              <!-- Value -->
              <mat-form-field appearance="fill">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="value" type="text" placeholder="Value" (blur)="updateInput(linkGroup)" />
        
                <mat-error *ngIf="linkGroup.get('value')?.hasError('min')">
                  Amount must be greater than or equal 0.
                </mat-error>


                <mat-error *ngIf="linkGroup.get('value')?.hasError('invalidValue')">
                  Invalid value!
                </mat-error>

                
              </mat-form-field>
              
              <!-- Select with search -->
              <mat-form-field appearance="fill" *ngIf="dataService.isAdvancedShown">
                <mat-label>Category</mat-label>
                <mat-select formControlName="source" [disableOptionCentering]="true" panelClass="custom-select-panel" (selectionChange)="updateInput()">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="sourceSearchControl" placeholderLabel="Search categories..." noEntriesFoundLabel="No entries found."></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let node of filteredNodes" [value]="node.value">
                    @if(node.icon) {
                      <mat-icon fontSet="material-symbols-outlined"
                        [ngStyle]="{'color': colorService.isDarkMode() ? node.colorDark : node.colorLight}"
                      >{{ node.icon }}</mat-icon>
                    }
                    {{ node.label }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="linkGroup.get('source')?.hasError('cycle')">
                  This creates a cycle!
                </mat-error>
              </mat-form-field>
        

              <!-- Remove Button -->
              <button mat-icon-button color="warn" (click)="removeLink(i)">
                <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
              </button>
            }
          </div>
        </mat-card-content>
      }
    </mat-card>
  </div>
  
  <div class="flex flex-row gap-4 mt-4 w-fit text-center justify-center self-center sticky bottom-1 z-50">
    <div>
      <button mat-stroked-button color="primary" class="backdrop-blur-[200px]" (click)="addLink(); isVariableCostsExpanded = true">
        <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
        <span>Add Entries</span>
      </button>
    </div>
  </div>
</div>
  