.link-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 12px;
}
  
mat-form-field {
  flex: 1;
}
.link-row {
  display: flex;
  align-items: flex-start;
  gap: 0.2rem;
}


.material-background-dialog-custom {
  background-color: var(--mdc-dialog-container-color, var(--mat-app-surface, white)) !important;
}
mat-card {
  box-shadow: none !important;
}

.mat-mdc-form-field-icon-suffix {
  position: absolute !important;
  right: 0;
  top: 8px;
}