<div [formGroup]="linkForm" class="link-form-container">
    <div class="flex flex-row w-full items-center justify-end gap-1">
      <p>Show advanced</p>
      <p>
        <mat-slide-toggle color="primary" labelPosition="before"  disableRipple (change)="dataService.toggleAdvanced()" [checked]="dataService.isAdvancedShown"></mat-slide-toggle>
      </p>
    </div>
    <div formArrayName="links">
      <div *ngFor="let linkGroup of linkArray.controls; let i = index" [formGroupName]="i" class="link-row">
        
        <!-- Target -->
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="target" placeholder="Entry name" />
          <mat-error *ngIf="linkGroup.get('target')?.hasError('restrictedNodeName')">
            This name is not allowed.
          </mat-error>
        </mat-form-field>
        
        <!-- Type (Income, Expense, Tax) -->
        <mat-form-field appearance="fill">
          <mat-select formControlName="type" placeholder="Type">
            <mat-option *ngFor="let type of linkTypes" [disabled]="type === 'tax' && taxNodeExists " [value]="type">{{ type | titlecase }}</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- Value -->
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="value" type="number" placeholder="Value" />
        </mat-form-field>
  
        <!-- Source (Optional) -->
        <!-- input with auto complete -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Part of (optional)</mat-label>
          <input type="text"
            matInput
            [matAutocomplete]="auto"
            formControlName="source"
            placeholder="Existing entry e.g. Housing"
            (blur)="closeAutoComplete(i)"
          />
          <mat-error *ngIf="linkGroup.get('source')?.hasError('cycle')">
            A node cannot source itself!
          </mat-error>
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let node of filteredNodes" [value]="node">{{ node }}</mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        
        <!-- Select with search -->
        <mat-form-field appearance="fill" *ngIf="dataService.isAdvancedShown">
          <mat-label>Part of (optional)</mat-label>
          <mat-select formControlName="source" [disableOptionCentering]="true" panelClass="custom-select-panel">
            <mat-option>
              <ngx-mat-select-search [formControl]="sourceSearchControl" placeholderLabel="Search entries..." noEntriesFoundLabel="No entries found."></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let node of filteredNodes" [value]="node">
              {{ node }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="linkGroup.get('source')?.hasError('cycle')">
            This creates a cycle!
          </mat-error>
        </mat-form-field>



        <!-- Remove Button -->
        <button mat-icon-button color="warn" (click)="removeLink(i)" *ngIf="linkArray.length > 1">
          <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
        </button>
  
      </div>
    </div>
  
    <div class="flex flex-row gap-4 w-full text-center justify-center">
        <!-- Add New Link Button -->
        <div class="add-link-button">
            <button mat-stroked-button color="primary" (click)="addLink()">Add New Link</button>
        </div>

        <!-- Submit Button -->
        <!-- <div class="submit-button">
            <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!linkForm.valid">
            Submit
            </button>
        </div> -->
    </div>
    
  </div>
  