<div [formGroup]="linkForm" class="link-form-container" #bottomContent id="bottom-content">

  <!-- INPUT LIST ACTIONS BAR CONTAINER -->
  <div class="grid w-full py-2 sticky z-50 top-0 material-background" style="grid-template-columns: 1fr 1fr 1fr;">
    <div class="flex flex-row gap-2">
      <button mat-stroked-button color="primary" (click)="copyLinks()">Copy</button>
      <button mat-stroked-button (click)="pasteLinks()">Paste</button>
    </div>
    <div class="flex flex-row w-full justify-center items-center">
      <app-month-picker (monthSelected)="onMonthChanges($event)"></app-month-picker>
    </div>
    <div class="flex flex-row w-full items-center justify-end gap-1">
      <div>Show advanced</div>
      <div>
        <mat-slide-toggle color="primary" labelPosition="before"  disableRipple (change)="dataService.toggleAdvanced()" [checked]="dataService.isAdvancedShown"></mat-slide-toggle>
      </div>
    </div>
  </div>

  <!-- LINKS CONTAINER -->
  <div formArrayName="links">
    <div *ngFor="let linkGroup of linkArray.controls; let i = index" [formGroupName]="i" class="link-row">
      <!-- Target -->
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="target" placeholder="Entry name" />
        <mat-error *ngIf="linkGroup.get('target')?.hasError('restrictedNodeName')">
          This name is not allowed.
        </mat-error>

        <mat-error *ngIf="linkGroup.get('target')?.hasError('cycle')">
          This creates a cycle!
        </mat-error>

        <mat-error *ngIf="linkGroup.get('target')?.hasError('duplicatedName')">
          Duplicated name.
        </mat-error>

        <mat-error *ngIf="linkGroup.get('target')?.hasError('emptyOrWhitespace')">
          Name cannot be empty.
        </mat-error>
      </mat-form-field>
      
      <!-- Type (Income, Expense, Tax) -->
      <mat-form-field appearance="fill">
        <mat-select formControlName="type" placeholder="Type" (selectionChange)="checkTaxNodeExists()">
          <mat-option *ngFor="let type of linkTypes" [disabled]="type == entryTypes.Tax && taxNodeExists " [value]="type">{{ type | titlecase }}</mat-option>
        </mat-select>
      </mat-form-field>


      <!-- Value -->
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="value" type="number" placeholder="Value" (blur)="updateInput()" />

        <mat-error *ngIf="linkGroup.get('value')?.hasError('min')">
          Amount must be greater than or equal 0.
        </mat-error>
      </mat-form-field>

      <!-- Source (Optional) -->
      <!-- input with auto complete -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>Part of (optional)</mat-label>
        <input type="text"
          matInput
          [matAutocomplete]="auto"
          formControlName="source"
          placeholder="Existing entry e.g. Housing"
          (blur)="closeAutoComplete(i)"
        />
        <mat-error *ngIf="linkGroup.get('source')?.hasError('cycle')">
          A node cannot source itself!
        </mat-error>
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let node of filteredNodes" [value]="node">{{ node }}</mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
      
      <!-- Select with search -->
      <mat-form-field appearance="fill" *ngIf="dataService.isAdvancedShown">
        <mat-label>Category</mat-label>
        <mat-select formControlName="source" [disableOptionCentering]="true" panelClass="custom-select-panel" (selectionChange)="updateInput()">
          <mat-option>
            <ngx-mat-select-search [formControl]="sourceSearchControl" placeholderLabel="Search categories..." noEntriesFoundLabel="No entries found."></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let node of filteredNodes" [value]="node">
            {{ node }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="linkGroup.get('source')?.hasError('cycle')">
          This creates a cycle!
        </mat-error>
      </mat-form-field>



      <!-- Remove Button -->
      <button mat-icon-button color="warn" (click)="removeLink(i)">
        <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="flex flex-row gap-4 mt-4 w-fit text-center justify-center self-center sticky bottom-0 z-50">
    <div>
      <button mat-stroked-button color="primary" class="backdrop-blur-[200px]" (click)="addLink()">
        <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
        <span>Add Entries</span>
      </button>
    </div>
  </div>
</div>
  