
<div
    echarts
    [options]="chartOption"
    [merge]="mergeOption"
>
</div>

<div class="flex flex-row items-center justify-center gap-4 text-xl font-bold w-full mb-4">
    <mat-chip-set>
        <mat-chip>
            <span>
                Trend: 
            </span>
            <span [ngClass]="{
                'positive-dark': colorService.isDarkMode() && chartData.details.trend === 'downward',
                'positive-light': !colorService.isDarkMode() && chartData.details.trend === 'downward',
                'negative-dark': colorService.isDarkMode() && chartData.details.trend === 'upward',
                'negative-light': !colorService.isDarkMode() && chartData.details.trend === 'upward'
            }">
                {{ trendDescription }}
            </span>
        </mat-chip>

        <mat-chip>
            Strength: {{ chartData.details.strength }}
        </mat-chip>

        <mat-chip>
            <span>Growth Rate: </span>
            <span [ngClass]="{
                'positive-dark': colorService.isDarkMode() && chartData.details.trend === 'downward',
                'positive-light': !colorService.isDarkMode() && chartData.details.trend === 'downward',
                'negative-dark': colorService.isDarkMode() && chartData.details.trend === 'upward',
                'negative-light': !colorService.isDarkMode() && chartData.details.trend === 'upward'
            }">
                {{ chartData.details.growthRate.toFixed(2) }}%
            </span>
        </mat-chip>
    </mat-chip-set>
</div>

<div class="flex flex-row w-full justify-center text-base">
    <p>
        {{ insights }}
    </p>
</div>