<div class="flex flex-col gap-3">
    @if ((trackingService.trackingData$ | async)?.length === 0) {
        <div class="flex flex-col w-full justify-center items-center gap-2" [ngClass]="colorService.isDarkMode() ? '!text-neutral-400' : 'text-gray-500' ">
            No tracking data available. You can create some in Smart Budget Planner.
        </div>
        <div class="flex flex-row w-full justify-center items-center gap-2">
            <a mat-button [routerLink]="RoutePath.SmartBudgeterPage" (click)="navigateToBudgetPlanner()" class="flex flex-row justify-center items-center gap-2">
                <mat-icon fontSet="material-symbols-outlined">open_in_new</mat-icon>
                <span>Open Smart Budget Planner</span>
            </a>
        </div>
    } @else {
        <div class="flex flex-row w-full justify-end items-center gap-2">
            <a mat-button [routerLink]="RoutePath.SmartBudgeterPage" class="flex flex-row justify-center items-center gap-2" (click)="navigateToBudgetPlanner()">
                <mat-icon fontSet="material-symbols-outlined">open_in_new</mat-icon>
                <span>Open Smart Budget Planner</span>
            </a>
        </div>
        @for (category of trackingService.trackingData$ | async; track category.name) {
            <mat-card class="rounded-2xl px-2">
                <mat-card-header class="custom-card-header">
                    <mat-card-title>
                        <div class="flex flex-row w-full justify-between items-center mb-2">
                            <div class="flex flex-row gap-2 items-center">
                                <mat-icon fontSet="material-symbols-outlined" [ngStyle]="{ color: colorService.isDarkMode() ? getCategoryIconDetails(category.name).colorDark : getCategoryIconDetails(category.name).colorLight }">{{ getCategoryIconDetails(category.name).icon }}</mat-icon>
                                <span class="!font-bold !text-2xl">{{ removeSystemPrefix(category.name) }}</span>
                            </div>
    
                            <div>
                                <button class="!flex" color="warn" mat-icon-button (click)="deleteCategory(category.name)">
                                    <mat-icon fontSet="material-symbols-outlined">delete</mat-icon> 
                                </button>
                            </div>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="progress-info mb-4 flex flex-row gap-4 w-full items-center justify-between">
                        <p class="text-base">
                            Spent: {{ category.currentSpending | currency:currencyService.getSelectedCurrency() }} ({{ category.percentageSpent.toFixed(2) }}%)
                        </p>
                        <p class="text-base">
                            Target: {{ category.targetSpending | currency:currencyService.getSelectedCurrency() }}
                        </p>
    
                        @if (category.percentageSpent > 100) {
                            <p class="text-base font-bold" [ngClass]="colorService.isDarkMode() ? 'negative-dark' : 'negative-light'">
                                Exceeded by {{ (category.currentSpending - category.targetSpending) | currency:currencyService.getSelectedCurrency() }}
                            </p>
                        }
                    </div>

                    <div class="flex flex-row w-full pb-2">
                        <mat-progress-bar
                            [ngClass]="{
                                'custom-mat-progress-bar-color-red-dark': category.percentageSpent > 100 && colorService.isDarkMode(),
                                'custom-mat-progress-bar-color-red-light': category.percentageSpent > 100 && !colorService.isDarkMode()
                            }"
                            color="primary"
                            mode="determinate"
                            [value]="clampedPercentageSpent(category.percentageSpent)">
                        </mat-progress-bar>
                    </div>
                    <!-- @if (category.percentageSpent > 100) {
                        <div class="text-sm font-bold text-end" [ngClass]="colorService.isDarkMode() ? 'negative-dark' : 'negative-light'">
                            You have exceeded the target by {{ (category.percentageSpent - 100).toFixed(2) }}%
                        </div>
                    } -->
                </mat-card-content>
            </mat-card>
        }
    }
</div>
