<router-outlet></router-outlet>

<div class="p-4">
    <!-- <button mat-flat-button (click)="toggleLayout()">
        Change Layout
    </button> -->

    <!-- <button mat-flat-button (click)="dataService.openDialog()">
        Open Dialog
    </button> -->


    <div class="flex flex-row w-full justify-end">
        <button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <div class="flex flex-row justify-center items-center gap-2">
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add input</span>
            </div>
            
          </button>
          <mat-menu #menu="matMenu">
            <app-input-list></app-input-list>
          </mat-menu>
    </div>
    
    <div [ngClass]="isVerticalLayout ? 'flex flex-col gap-8 p-4' : 'grid grid-cols-2 gap-8 p-4'">
        <!-- INPUT SECTION -->
        <div>
            <!-- <app-input-list></app-input-list> -->
        </div>
    
        <!-- CHART SECTION -->
        <div class="flex flex-col gap-8">
            <app-sankey-chart></app-sankey-chart>
            <mat-divider class="!border-gray-300"></mat-divider>
            <!-- NETTO CHART -->
            <app-pie-chart [pieChartData]="pieChartDataNetto" [chartTitle]="'Expense Distribution'" [chartDescription]="'(The whole pie represents your total net income)'"
                [totalIncome]="totalNetIncome" [totalExpenses]="totalExpenses"
            ></app-pie-chart>
            @if (showGrossIncomePieChart) {
                <mat-divider class="!border-gray-300"></mat-divider>
                <!-- BRUTTO CHART -->
                <app-pie-chart [pieChartData]="pieChartDataBrutto" [chartTitle]="'Total Income Distribution'" [chartDescription]="'(The whole pie represents your total gross income)'"
                    [totalIncome]="totalGrossIncome"
                ></app-pie-chart>
            }
        </div>
    </div>
</div>
