<div @fadeInOut class="mb-6 min-w-64 w-[35vw]">
    <mat-card appearance="outlined">
      <mat-card-header class="mb-4">
        <mat-card-title>
          <div class="flex flex-row items-center w-full">
            <mat-icon fontSet="material-symbols-outlined" class="mr-2" color="warn">warning</mat-icon>
            <p class="font-bold text-2xl !m-0">Errors in Form!</p>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ errorMessage }}
      </mat-card-content>
    </mat-card>
</div>