<div class="flex flex-col w-full justify-center items-center space-y-2">
    <h2 class="text-2xl font-bold">
        <!-- Expense Distribution -->
         {{ chartTitle}}
    </h2>
    @if (totalExpenses !== -1) {
        <p class="text-base font-medium">
            Total expenses: {{ totalExpenses.toLocaleString() }} of {{ totalIncome.toLocaleString() }} 
            (<span class="font-semibold">{{ ((totalExpenses / totalIncome) * 100).toFixed(2) }}%</span>)
        </p>
    } @else {
        <p class="text-base font-medium">
            Total income: {{ totalIncome.toLocaleString() }}
        </p>
    }
    
    <p class="text-sm italic" [ngClass]="colorService.isDarkMode() ? 'text-neutral-400' : 'text-gray-500'">
        <!-- (The whole pie represents your total net income) -->
         {{ chartDescription }}
    </p>
</div>
<div
    echarts
    [options]="pieOption"
    [style]="'height: ' + chartHeight"
>
</div>