<div class="flex flex-row w-full justify-center items-center gap-2">
    <h2 class="font-bold">
        Income Flow and Expense Allocation
    </h2>
    <button mat-icon-button class="!flex custom-position" matTooltip="You can edit values directly by clicking on them">
        <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
    </button>
</div>
<div class="flex flex-row w-full p-4 justify-center">
    @if (dataService.isDemo()) {
        <mat-chip style="width: fit-content !important;">
            Demo Data
        </mat-chip>
    }
</div>
@if(!sankeyData || sankeyData.nodes.length === 0) {
    <div class="flex flex-col items-center gap-2">
        <p>No entries defined...</p>
        <button mat-stroked-button (click)="dialogService.openInputListDialog()">
            Create Entry
        </button>
    </div>
}

<div
    echarts
    [options]="sankeyOption"
    [merge]="sankeyMerge"
    [style]="'height: ' + chartHeight"
    (chartInit)="onChartInit($event)"
></div>
<h3 class="font-bold flex flex-row items-center gap-2">
    <span>Surplus: </span>
    <span [ngClass]="getBalanceClass()" class="flex flex-row items-center rounded-full text-neutral-950 text-base px-5 py-[5px]">
        {{ parseLocaleStringToNumber(remainingBalance) | currency: currencyService.getSelectedCurrency() }}
    </span>
</h3>