
<div class="flex flex-row w-full justify-center py-4">
    <mat-button-toggle-group aria-label="Tree Map & Sunburst toggle" hideSingleSelectionIndicator (change)="toggleChartType()" [value]="currentChartType">
        <mat-button-toggle value="treemap">Tree Map</mat-button-toggle>
        <mat-button-toggle value="sunburst">Advanced Pie</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div
    echarts
    [options]="chartOptions"
    [merge]="mergeOptions"
    style="height: 70vh; width: 100%;"
>
</div>