<div class="container mx-auto p-6">
    <header class="text-center">
        <app-graphic-text [text]="'Welcome to Easy Sankey'"></app-graphic-text>
    </header>

    <section class="mb-6">
        <!-- <h2 class="text-2xl font-semibold">About Easy Sankey</h2>
        <p class="mt-2">Easy Sankey helps you create clear and simple financial visualisations without the need for Excel or technical skills. Just a few easy inputs, and you can see where your money goes!</p> -->

        <div class="flex flex-row w-full items-center justify-center gap-4 mb-4">
            <div>
                <button mat-stroked-button (click)="navigateToHighlightedFeatures()">
                    Get Started
                </button>
            </div>
            <div>
                <button mat-flat-button color="primary" (click)="navigateToDocs()">
                    How to use?
                </button>
            </div>
        </div>
        <app-demo-chart></app-demo-chart>
    </section>
</div>
