
<div class="flex flex-col">
    <app-navbar class="navbar" [backLink]="'/'" [showStorage]="false" [showLogo]="false" [scrollToTop]="selectedTabIndex == 1">
        <span class="font-bold text-lg" [ngClass]="colorService.isDarkMode() ? 'dark-text' : 'light-text'">Finance Manager</span>
    </app-navbar>
    <mat-tab-group animationDuration="0" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-3" [ngStyle]="{'color': colorService.isDarkMode() ? '#90caf9' : '#1976d2'}" fontSet="material-symbols-outlined">dashboard</mat-icon>
                Overview
            </ng-template>

            <!-- PAGE CONTENTS -->
            @if (selectedTabIndex == 0) {
                <div class="p-4">
                    <app-storage-manager></app-storage-manager>
                </div>
            }
        </mat-tab>
      
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-3" [ngStyle]="{'color': colorService.isDarkMode() ? '#a5d6a7' : '#4caf50'}" fontSet="material-symbols-outlined">savings</mat-icon>
                Budgets
            </ng-template>

            <!-- PAGE CONTENTS -->
            @if (selectedTabIndex == 1) {
                <div class="p-4" #toTop>
                    <app-budget-list></app-budget-list>
                </div>
            }
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-3" [ngStyle]="{'color': colorService.isDarkMode() ? '#ffcc80' : '#ff9800'}" fontSet="material-symbols-outlined">calendar_today</mat-icon>
                Fix Costs
            </ng-template>

            <!-- PAGE CONTENTS -->
            @if (selectedTabIndex == 2) {
                <div class="p-4">
                    <app-fix-cost-input></app-fix-cost-input>
                </div>
            }
        </mat-tab>
        
    </mat-tab-group>
</div>