/* Global Imports */
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols/outlined.css';

/* Material Theme Definitions */
@include mat.core();

// Themes
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    plain-family: 'inherit',
    brand-family: 'inherit',
  ),
));

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;

  /* Background and Color Transitions */
  transition: background-color 0.5s ease, color 0.3s ease;
}

/* Typography */
html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, textarea, select, a, blockquote, figcaption {
  font-family: "Roboto", sans-serif;
}


/* Font Sizes */
h1 { font-size: xx-large; }
h2 { font-size: x-large; }
h3 { font-size: large; }

/* Theme Mixin */
@mixin apply-theme($theme, $bg-color, $text-color, $secondary-text-color) {
  @include mat.core-color($theme);
  @include mat.all-component-colors($theme);
  @include mat.all-component-typographies($theme);
  @include mat.all-component-densities($theme);

  body {
    background-color: $bg-color;
    color: $text-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    transition: color 0.3s ease;
  }

  p {
    color: $secondary-text-color;
    transition: color 0.3s ease;
  }
}

/* Light Theme */
html.light-theme {
  @include apply-theme($light-theme, white, rgb(38, 38, 38), rgb(64, 64, 64));
  scrollbar-color: auto;
}

html {
  @media (prefers-color-scheme: light) {
    @include apply-theme($light-theme, white, rgb(38, 38, 38), rgb(64, 64, 64));

    scrollbar-color: auto;
  }
}

/* Dark Theme */
html.dark-theme {
  @include apply-theme($dark-theme, rgb(34, 34, 34), rgb(204, 204, 204), rgb(199, 199, 199));

  /* Scrollbar Customization */
  scrollbar-color: rgb(70, 70, 70) rgb(34, 34, 34);
}

html {
  @media (prefers-color-scheme: dark) {
    @include apply-theme($dark-theme, rgb(34, 34, 34), rgb(204, 204, 204), rgb(199, 199, 199));

    /* Scrollbar Customization */
    scrollbar-color: rgb(70, 70, 70) rgb(34, 34, 34);
  }
}


/* Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Text Colors */
.text-darkmode-blue { color: rgb(176, 198, 250) !important; }
.text-lightmode-blue { color: rgb(38, 91, 181) !important; }

.highlight-lightmode {
  background: '#e5e5e5'
}

.highlight-darkmode {
  background: '#404040'
}


.positive-balance {
  background-color: #9EE49E; // Green background for positive balance
}

.negative-balance {
  background-color: #f87171; // Red background for negative balance
}