/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols';



@include mat.core();

h1, h2, h3, h4, h5, h6 {
  color:rgb(38,38,38);
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: large;
}
p {
  color: rgb(64,64,64);
}
html, body { height: 100%; }
body { 
  margin: 0;font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

html {
  // Apply the theme by default
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);



  // Apply the light theme only when the user prefers light themes.
  @media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.core-color($light-theme);
    @include mat.all-component-colors($light-theme);
  }

  @media (prefers-color-scheme: dark) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.

    body {
      background-color: rgb(34,34,34);
      color-scheme: dark;
    }

    h1, h2, h3, h4, h5, h6, p, ul, li {
      color:rgb(204,204,204);
    }

    @include mat.all-component-colors($dark-theme);
  }
}