/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols';

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));


html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  /** 
    Transition background color changes to prevent flashing 
    when changing themes from dark to light and vice versa 
  */
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: large;
}


// Theme-specific styles
html {
  /** Light theme styling, detected by system */
  @media (prefers-color-scheme: light) {
    @include mat.core-color($light-theme);
    @include mat.all-component-colors($light-theme);
    @include mat.all-component-typographies($light-theme);
    @include mat.all-component-densities($light-theme);
    
    body {
      background-color: white;
      color: rgb(38, 38, 38);
    }
  
    h1, h2, h3, h4, h5, h6 {
      color: rgb(38, 38, 38);
      transition: color 0.3s ease;
    }
    
    p {
      color: rgb(64, 64, 64);
      transition: color 0.3s ease;
    }
  }


  /** Dark theme styling, detected by system */
  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);
    @include mat.all-component-typographies($dark-theme);
    @include mat.all-component-densities($dark-theme);
    
    body {
      background-color: rgb(34, 34, 34);
      color: rgb(204, 204, 204)
    }

    h1, h2, h3, h4, h5, h6, p {
      color: rgb(204, 204, 204)
    }
  }
}

// Theme classes for manual switching
.light-theme {
  @include mat.core-color($light-theme);
  @include mat.all-component-colors($light-theme);
  @include mat.all-component-typographies($light-theme);
  @include mat.all-component-densities($light-theme);
  
  body {
    background-color: white;
    color: rgb(38, 38, 38);
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgb(38, 38, 38);
    transition: color 0.3s ease;
  }
  
  p {
    color: rgb(64, 64, 64);
    transition: color 0.3s ease;
  }
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-densities($dark-theme);
  
  body {
    background-color: rgb(34, 34, 34);
    color: rgb(204, 204, 204);
  }


  h1, h2, h3, h4, h5, h6 {
    color: rgb(204, 204, 204);
    transition: color 0.3s ease;
  }

  p {
    color: rgb(204, 204, 204);
    transition: color 0.3s ease;
  }
}

/** Apply this class to component selector when you use navbar
  Example: <app-navbar class="navbar">...</app-navbar>
*/
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}